.fRAMEAWrapper {
  align-self: stretch;
  height: 1813px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.finalRectangle {
  align-self: stretch;
  width: 1942px;
  position: relative;
  background-color: var(--color-black);
  max-width: 115%;
  flex-shrink: 0;
}
.frameWithText {
  height: 310px;
  width: 1691px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 117%;
  flex-shrink: 0;
}
.anotherFrame,
.desktop1,
.frameWithText {
  display: flex;
  align-items: flex-start;
}
.anotherFrame {
  align-self: stretch;
  height: 181px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.desktop1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1630px;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .fRAMEAWrapper {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .desktop1 {
    gap: 815px;
  }
}
@media screen and (max-width: 450px) {
  .desktop1 {
    gap: 407px;
  }
}
